<p>Detalles de los horarios de la sucursal:  <%= @sucursal.nombre %></p>
<table>
  <tr>
    <th>Dia</th>
    <th>Hora de inicio</th>
    <th>Hora de fin</th>
  </tr>
  <% @horario.each do |ho| %>
    <tr>
    <td> <%= ho.dia %> </td>
    <td> <%= ho.hora_inicio %> </td>
    <td> <%= ho.hora_fin %> </td>
    <td>
    </tr>
  <%end%>
  
</table> 